$cell_width: 216px;
$scroll_width: 16px;
$n_columns: 6;

body {
	background-color: #fefefe;
}

.page-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 180px 50px 200px;
}

#get-data-btn {
	margin-right: 15px;
}

#main-table {
	margin-top: 40px;
}

.data-table {
	border-collapse: collapse;
	width: $n_columns * $cell_width + $scroll_width;
	position: relative;
	border: 1px solid grey;

	.data-table__head {
		display: block;

		th {
			width: $cell_width;

			&:last-of-type {
				width: $cell_width + $scroll_width;
			}
		}
	}

	.data-table__head-row {
		.data-table__head-cell {
			text-align: left;
			height: 50px;
			padding: 0 15px;
			border: 1px solid grey;
		}
	}

	.data-table__body {
		display: block;
		height: 300px;
		overflow-y: auto;
		overflow-x: hidden;

		.data-table__body-row {

			.data-table__body-cell {
				height: 40px;
				padding: 0 15px;
				border: 1px solid grey;
				width: $cell_width;
			}
		}
	}
}
