body {
  background-color: #fefefe;
}

button {
  cursor: pointer;
}

.page-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 180px 50px 200px;
}

#get-data-btn {
  margin-right: 15px;
}

#main-table {
  margin-top: 40px;
}

.data-table {
  border-collapse: collapse;
  width: 1312px;
  position: relative;
  border: 1px solid grey;
  margin-bottom: 20px;
}
.data-table .data-table__sort-icon {
  margin-left: 10px;
  height: 14px;
  width: auto;
  transform: rotate(0);
}
.data-table .data-table__sort-icon.icon_desc {
  transform: rotate(180deg);
}
.data-table .data-table__head {
  display: block;
}
.data-table .data-table__head th {
  width: 216px;
}
.data-table .data-table__head th:last-of-type {
  width: 232px;
}
.data-table .data-table__head-row .data-table__head-cell {
  text-align: left;
  height: 50px;
  padding: 0 15px;
  border: 1px solid grey;
  cursor: pointer;
}
.data-table .data-table__body {
  display: block;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.data-table .data-table__body .data-table__body-row .data-table__body-cell {
  height: 40px;
  padding: 0 15px;
  border: 1px solid grey;
  width: 216px;
}

.pagination-block {
  display: flex;
}
.pagination-block .pagination-btn {
  margin-right: 5px;
  border: 1px solid grey;
}
.pagination-block .pagination-btn.active {
  border: 1px solid blue;
}