body {
  background-color: #fefefe;
}

.page-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 180px 50px 200px;
}

#get-data-btn {
  margin-right: 15px;
}

#main-table {
  margin-top: 40px;
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}
.data-table .data-table__head-row .data-table__head-cell {
  text-align: left;
  height: 50px;
  padding: 0 15px;
  border: 1px solid grey;
}
.data-table .data-table__body .data-table__body-cell {
  height: 40px;
  padding: 0 15px;
  border: 1px solid grey;
}